@use 'fuentes' as *;
@use 'header';
@use 'bread';
@use 'colores';
@use 'designsystem';
@use 'mapa';
@use 'products';
@use 'cta';

.valor-agregado {
    min-height: 400px;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    ul {
        list-style-type: none;
        li {
            padding-bottom: 20px;
        }
    }
} @media (max-width:991px) {
    .valor-agregado {
        min-height: 450px;
        margin-top: 2em;
        .valor__lista {
        padding-top: 1.5em;
        margin-bottom: 2em;
        }
    }
    
}